<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <link rel="stylesheet" href="./styles/index.css" />
    <link rel="stylesheet" href="./styles/btn.css" />
    <link rel="stylesheet" href="./styles/healthBars.css" />
    <link rel="stylesheet" href="./styles/gameActionScreen.css" />
    <link rel="stylesheet" href="./styles/harryPotterModel.css" />
    <link rel="stylesheet" href="./styles/voldemortModel.css" />
    <link rel="stylesheet" href="./styles/spells.css" />
    <link rel="stylesheet" href="./styles/logs.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div class="app__container" id="app">
      <button class="btn" @click="startGame" v-if="!gameIsRunning">
        start
      </button>
      <section class="app__game-ui" v-else>
        <div class="game-ui__Health-Bars">
          <div class="health-bar__container">
            <div class="health-bar" :style="{width : harryHealth + '%'}">
              {{ harryHealth }}
            </div>
          </div>
          <div class="health-bar__container">
            <div class="health-bar" :style="{width : voldemortHealth + '%'}">
              {{ voldemortHealth }}
            </div>
          </div>
        </div>
        <div class="game-ui__Action-Screen">
          <div class="harry__container">
            <div class="harry-potter__head">
              <div class="harry-potter__left-eye"></div>
              <div class="harry-potter__right-eye"></div>
            </div>
            <div class="harry-potter__body"></div>
            <div class="harry-potter__legs"></div>
            <div
              class="harry-potter__wand"
              :class="{'harry-potter__cast-spell': harryIsCastingSpell}"
            ></div>
          </div>
          <div class="spell__channel">
            <div
              class="spell__container-harry"
              :class="{sectumSempra: harrySpells.sectemSempra, protego: harrySpells.protego, expectoPatronum: harrySpells.expectoPatronum}"
            ></div>
            <div
              class="spell__container-voldemort"
              :class="{avadaKedavra: voldemortSpells.avadaKedavra, summonDementor: voldemortSpells.summonDementor}"
            ></div>
          </div>
          <div class="voldemort__container">
            <div class="voldemort__head">
              <div class="voldemort__left-eye"></div>
              <div class="voldemort__right-eye"></div>
            </div>
            <div class="voldemort__body"></div>
            <div class="voldemort__legs"></div>
            <div
              class="voldemort__wand"
              :class="{'voldemort__cast-spell': voldemortIsCastingSpell}"
            ></div>
          </div>
        </div>
        <div class="game-ui__Controls-and-Logs">
          <div class="game-ui__Controls">
            <button
              class="btn btn__small"
              @click="castSectumSempra"
              :disabled="controlsIsDisabled"
            >
              sectumsempra
            </button>
            <button
              class="btn btn__small"
              @click="castProtego"
              :disabled="controlsIsDisabled"
            >
              protego
            </button>
            <button
              class="btn btn__small"
              @click="castExpectoPatronum"
              :disabled="controlsIsDisabled"
            >
              expecto patronum
            </button>
          </div>
          <div class="game-ui__Logs">
            <ul>
              <li
                v-for="log in logs"
                :class="{'harry-log': log.isHarry, 'voldemort-log': !log.isHarry}"
              >
                {{ log.text }}
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <script src="./app.js"></script>
  </body>
</html>
