.btn {
  border-radius: 0px;
  text-decoration: none;
  padding: 12px 18px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
  font-family: cursive;
  letter-spacing: 3px;
  transition: all 0.4s ease-in-out;
  outline: none;
  border: solid 2px #fff;
  background: transparent;
  color: #fff;
  margin: 7px;
}

.btn:hover,
.btn.active.active {
  border: solid 2px #fff;
  background: #fff;
  color: #1f1f1f;
}
