.app__game-action-harrypotter {
  width: 200px;
  height: 200px;
  background-color: transparent;
  position: absolute;
  left: 0;
}
.app__game-action-harrypotter-before {
  position: absolute;
  background: black;
  width: 70px;
  height: 70px;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}
.app__game-action-harrypotter-left-eye {
  position: absolute;
  background: white;
  width: 15px;
  height: 10px;
  top: 15%;
  left: 50%;
  border-radius: 10px / 5px;
}
.app__game-action-harrypotter-right-eye {
  position: absolute;
  background: white;
  width: 15px;
  height: 10px;
  top: 15%;
  left: 60%;
  border-radius: 10px / 5px;
}
.app__game-action-harrypotter-middle {
  position: absolute;
  background: transparent;
  border-bottom: 70px solid black;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  width: 30px;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}
.app__game-action-harrypotter-wand {
  position: absolute;
  background: black;
  width: 60px;
  height: 3px;
  top: 50%;
  left: 60%;
  border-radius: 20%;
  transform: rotate(-31deg) scale(1.07);
  transform-origin: 0 0;
}
.app__game-action-harrypotter-after {
  position: absolute;
  background: transparent;
  border-left: 4px solid black;
  border-right: 4px solid black;
  width: 30px;
  height: 60px;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.harryCastSpell {
  animation: harryCastSpell 0.7s ease-out;
}

@keyframes harryCastSpell {
  50% {
    transform: rotate(-60deg) scale(1.07);
  }
  100% {
    transform: rotate(-21deg) scale(1.07);
  }
}
