body {
  background: #f0f0f0;
}

.app__container {
  width: 900px;
  height: 600px;
  margin: 90px auto;
  background: black;
  box-shadow: 6px 8px 5px #888;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__game-ui {
  width: 890px;
  height: 590px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.game-ui__Controls-and-Logs {
  width: 880px;
  height: 190px;
  /* border: 1px solid #fff; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-ui__Controls {
  width: 430px;
  height: 180px;
  /* border: 1px solid #fff; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.game-ui__Logs {
  width: 430px;
  height: 176px;
  border: 2px solid #fff;
  position: relative;
  color: white;
  overflow: hidden;
}

@media all and (max-width: 640px) {
  .app__container {
    height: 900px;
  }
  .app__game-ui {
    height: 890px;
    justify-content: space-around;
  }

  .game-ui__Controls,
  .game-ui__Logs {
    width: 880px;
  }
  .game-ui__Controls-and-Logs {
    height: 400px;
    flex-direction: column;
  }
}
