.spell__container-harry {
  width: 10px;
  height: 10px;
  /* background: grey; */
  position: absolute;
  top: 45%;
  left: 0%;
}
.spell__container-voldemort {
  width: 10px;
  height: 10px;
  /* background: grey; */
  position: absolute;
  top: 45%;
  right: 0%;
}

.avadaKedavra {
  width: 60px;
  height: 5px;
  background: green;
  border-radius: 5px;
  animation: spellRightToLeft 0.8s ease-out 0.8s;
}
.summonDementor {
  top: 30%;
  width: 0px;
  height: 0px;
  border-right: 30px solid black;
  border-top: 30px solid black;
  border-left: 30px solid transparent;
  border-bottom: 30px solid black;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  animation: spellRightToLeft 0.8s ease-out 0.8s;
}

.sectumSempra {
  width: 60px;
  height: 5px;
  background: black;
  border-radius: 5px;
  animation: spellLeftToRight 0.8s ease-out 0.4s;
}

.expectoPatronum {
  top: 35%;
  left: 3%;
  width: 60px;
  height: 40px;
  transform: skew(-20deg);
  background: skyblue;
  animation: spellLeftToRight 0.8s ease-out 0.4s;
}

.protego {
  top: 10%;
  width: 10px;
  height: 160px;
  border-right: 10px solid blue;
  border-radius: 50%;
  background: transparent;
  animation: spellStayPut 0.8s ease-out 0.4s;
}

@keyframes spellLeftToRight {
  100% {
    left: 100%;
  }
}

@keyframes spellRightToLeft {
  100% {
    right: 100%;
  }
}

@keyframes spellStayPut {
  30% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
